body {
  color: blue;
  background: lightgrey;
}

div {
  margin: 1ex;
}

section {
  margin: 2px auto;
}

.button {
  background: lightblue;
  border: 1px solid navy;
  cursor: pointer;
  padding: 3px;
}

.button:hover {
  background: navy;
  color: white;
}

input {
  background: lightblue;
  border: 1px solid navy;
}

.error {
  background: darkgrey;
  color: darkred;
}
